@import './base.css';

:root {
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Nunito", sans-serif;
  --nav-font: "Inter", sans-serif;
}


:root {
  --background-color: #ffffff;
  --default-color: #3d4348;
  --heading-color: #3e5055;
  --accent-color: #388da8;
  --contrast-color: #ffffff;
}


:root {
  --nav-color: #313336;
  --nav-hover-color: #77b6ca;


  --nav-dropdown-background-color: #ffffff;


  --nav-dropdown-color: #313336;


  --nav-dropdown-hover-color: #77b6ca;
}


:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/

@media (min-width: 1200px) {
  /*.main{*/
  /*  padding: 14px;*/
  /*  display: flex;*/
  /*  height: 100vh;*/
  /*  justify-content: center;*/
  /*  background: #f1f1f1;*/
  /*}*/
  /*.main-box{*/
  /*  max-width: 750px;*/
  /*  padding-left: 10px;*/
  /*  padding-right: 10px;*/
  /*  width: 100%;*/
  /*  height: 100%;*/
  /*  background: #fff;*/
  /*  border-radius: 10px;*/
  /*  overflow-y: scroll;*/
  /*  scrollbar-width: none;*/
  /*  scrollbar-color: transparent transparent;*/
  /*  .main-title{*/
  /*    display: flex;*/
  /*    flex-direction: column;*/
  /*    justify-content: center;*/
  /*    align-items: center;*/
  /*    padding: 10px;*/
  /*  }*/
  /*  .title-line{*/
  /*    border-bottom: solid 2px #4F89AB;*/
  /*    width: 16px;*/
  /*  }*/

  /*  .main-idbox{*/
  /*    display: flex;*/
  /*    justify-content: space-between;*/
  /*    margin-top: 20px;*/
  /*    align-items: center;*/
  /*    .main-idbox-item{*/
  /*      display: flex;*/
  /*      flex: 1;*/
  /*      padding: 10px;*/
  /*      flex-direction: row;*/
  /*      justify-content: center;*/
  /*      border: solid 1px #DEDEDE;*/
  /*      border-top-left-radius: 6px;*/
  /*      border-bottom-left-radius: 6px;*/
  /*      .main-upi{*/
  /*        padding: 0 6px;*/
  /*        border-right: solid 1px #DEDEDE;*/
  /*        margin-right: 6px;*/
  /*      }*/
  /*      .main-number{*/
  /*        flex: 1;*/
  /*        color: #CBCBCB;*/
  /*      }*/
  /*    }*/
  /*    .main-idbox-copy{*/
  /*      background: #2D8DF3;*/
  /*      padding: 11px 10px;*/
  /*      border-top-right-radius: 6px;*/
  /*      border-bottom-right-radius: 6px;*/
  /*      color: #fff;*/
  /*    }*/
  /*  }*/
  /*  .time-remaining{*/
  /*    display: flex;*/
  /*    justify-content: center;*/
  /*    align-items: center;*/
  /*    margin-top: 20px;*/
  /*    .time-remaining-left{*/
  /*      color: #000;*/
  /*      margin-right: 10px;*/
  /*    }*/
  /*    .time-remaining-right{*/
  /*      color: #C94D24;*/
  /*      font-weight: bold;*/
  /*    }*/
  /*  }*/
  /*  .qrcode{*/
  /*    display: flex;*/
  /*    flex-direction: column;*/
  /*    justify-content: center;*/
  /*    align-items: center;*/
  /*    margin-top: 20px;*/
  /*    .qrcode-title{*/
  /*      color: #B08E93;*/
  /*      font-size: 16px;*/
  /*      margin-bottom: 16px;*/
  /*    }*/
  /*    .qrcode-amount {*/
  /*      display: flex;*/
  /*      justify-content: center;*/
  /*      align-items: center;*/
  /*      flex-direction: column;*/
  /*      margin-top: 16px;*/
  /*      .title{*/
  /*        color: #C2C2C2;*/
  /*        font-weight: bold;*/
  /*        font-size: 14px;*/
  /*      }*/
  /*      .number{*/
  /*        color: #000;*/
  /*        font-weight: bold;*/
  /*        font-size: 20px;*/
  /*      }*/
  /*    }*/
  /*    .pay-list{*/
  /*      margin-top: 16px;*/
  /*      margin-bottom: 6px;*/
  /*      font-size: 8px;*/
  /*    }*/
  /*    .qrcode-imgbox{*/
  /*      display: flex;*/
  /*      justify-content: space-around;*/
  /*      align-items: center;*/
  /*      img{*/
  /*        margin: 0 6px;*/
  /*      }*/
  /*    }*/
  /*  }*/
  /*  .utr-no{*/
  /*    margin-top: 16px;*/
  /*    color: #C2C2C2;*/
  /*    font-size: 14px;*/
  /*    border: solid 1px #D6D6D6;*/
  /*    border-radius: 6px;*/
  /*    padding: 10px;*/
  /*  }*/
  /*  .submit{*/
  /*    padding: 10px;*/
  /*    background: #2D8DF3;*/
  /*    color: #fff;*/
  /*    margin-top: 6px;*/
  /*    border-radius: 6px;*/
  /*    display: flex;*/
  /*    justify-content: center;*/
  /*    align-items: center;*/
  /*  }*/
  /*  .reminder{*/
  /*    margin: 16px 0;*/
  /*    color: #000;*/
  /*    font-weight: bold;*/
  /*    font-size: 14px;*/
  /*  }*/
  /*  .tip{*/
  /*    font-size: 12px;*/
  /*    color: #C97265;*/
  /*    padding-bottom: 16px;*/
  /*  }*/
  /*}*/
}

@media (max-width: 640px) {

}
